@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root{
  --Grayish-Blue: hsl(217, 19%, 38%);
--Dark-Grayish-Blue: hsl(217, 19%, 24%);
--Dark-Blue: hsl(218, 23%, 16%);
--Light-Cyan: hsl(193, 38%, 86%);
--Neon-Green: hsl(150, 100%, 66%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in;
  font-family: "Manrope", sans-serif;

}
html {
  font-size: 10px;
}
body {
  width: 100%;
  font-family: "Manrope", sans-serif;
  background-color: var(--Dark-Blue);
  overflow: hidden;


}



.outer-container {
  display: flex;
  min-height: 810px;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: var(--Dark-Blue);

}


.inner-container {
  width: 100%;
  max-width: 1440px;
  min-height: 810px;
  padding: 0 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}